@import url("https://fonts.googleapis.com/css?family=Hi+Melody|Jua");
html {
  font-size: 10px;
}

body {
  font-family: "Hi Melody", cursive;
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.6;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

h1, h2 {
  font-family: "Hi Melody", cursive;
  margin: 0;
  text-align: center;
  color: white;
  border-bottom: 1px solid #353b48;
}

iframe {
  max-width: 100%;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  background-color: #f5f6fa;
  border: 2px solid #353b48;
}

.text {
  border-right: 2px solid #353b48;
}
.text h1 {
  background-color: #4cd137;
  font-size: 4rem;
}
.text p {
  margin: 1rem;
}

.video h1 {
  background-color: #e84118;
  font-size: 4rem;
}
